{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div>
        {% for membre in equipe %}
            <p>{{ membre.firstname }}</p>
            <img src="{{ membre.picture }}" alt="">
        {% endfor %}
    </div>
{% endblock %}

