{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolorem facere fugiat impedit incidunt
        mollitia nulla quaerat repudiandae velit voluptatibus! Dignissimos eum fuga libero nobis voluptatibus! Fugit
        inventore laboriosam suscipit?
    </div>
{% endblock %}

